<div class="task">
  <div class="container">
    <div class="row" [class.status]="task.status">
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="task.title" placeholder="{{task.title}}">
        <input type="text" [(ngModel)]="task.description" placeholder="{{task.description}}">
      </div>
      <div class="col-sm-5">
        <button class="btn" (click)="updatefullTask(task)" name="update">update</button>
        <button class="btn" (click)=updateStartDate(task) class="startDate">start</button>
        <button class="btn" (click)=updateDuration(task) (click)="updateEndDate(task)" class="endDate">end</button>
      </div>
      <div class="col-sm-5">
        <button class="btn" (click)="toggleStatus(task)" name="done">Done</button>
        <button class="btn-danger" (click)="deleteTask(task)" name="delete">Delete</button>
      </div>
      <div class="col-md-1">
        <input type="hidden" [(ngModel)]="task.duration">
      </div>

    </div>
  </div>
</div>