<div class="container">
    <hr>
    <div class="row align-items-start">
        <div class="col">
            <app-taskcreate (add)="onAddTask($event)"></app-taskcreate>

        </div>

    </div>

    <div class="row align-items-center">
        <div class="col">
            <app-task-list [taskList]="taskList" (toggleStatus)="onStatusComplete($event)" (remove)="onDeleteTask($event)" (startDate)="onupdateStartDate($event)"
                (endDate)="onupdateEndDate($event)" (updateTask)="onupdateTask($event)" (duration)="onupdateTask($event)">
            </app-task-list>
        </div>

    </div>


    <div class="row align-items-end">
        <div>
            <app-footer (export)=onexportCsv($event)></app-footer>
        </div>
    </div>

</div>