<header class="header">
    <h1>Todos</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="What needs to be done?" [(ngModel)]="newtask.title">
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="description" [(ngModel)]="newtask.description">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary" (click)="addTask()">add</button>
            </div>
        </div>
    </div>

</header>
<hr>