<section class="main">

  <div class="task-list">
    <div *ngFor="let task of taskList" >
      <app-task [task]= "task" 
      (status)="ontoggleStatus($event)" 
      (delete)="onRemoveTask($event)"
      (startDate)="onStartDate($event)"
      (endDate)="onEndDate($event)"
      (updateTask)="onupdatefullTask($event)"
      (duration)=updateDuration($event)
      ></app-task>
    </div>
  </div>
</section>